/* TABLES */

.table-view,
.table-view .column-header,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
}



.table-view .column-header-background{

    -fx-background-color: grey;

}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:hover {
    -fx-background-color: black; /* #93f9b911; */

}

.table-row-cell:odd{
    -fx-text-background-color: lime;
    -fx-background-color: black; /* #93f9b911; */
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even{
    -fx-text-background-color: lime;
    -fx-background-color: black; /* #1dbbdd11; */
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell: highlighted {
    -fx-background-color: black; /* -primary; */
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}

.table-row-cell: selected {
    -fx-background-color: blue;
    /* -fx-background-radius: 5px;
    -fx-background-insets: 2px; */
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track{
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  black;
    -fx-opacity: 0.5;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
    /*-fx-background-color:  black;
    -fx-opacity: 0.5; */
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .highlightedRow {
    -fx-text-background-color: white !important;
    -fx-background-insets: 0, 1, 2 !important;
    -fx-background: -fx-accent !important;
    -fx-text-fill: -fx-selection-bar-text !important;

}


.button {
    -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);

    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 10px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}

.button:pressed {

    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-font-weight: bold;
    -fx-font-size: 10px;
}